@font-face {
    font-family: "Poppins";
    src: url(../Fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Vollkorn";
    src: url(../Fonts/Vollkorn-Regular.ttf);
}

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    text-decoration: none;
    margin: 0;
    padding: 0;

    font-family: 'Poppins';
}

nav{
    top: 0;
    z-index: 100;
    position: sticky;
    position: -webkit-sticky;
    height: 95px;
}

.navbaratas{
    background-color: #424429;
    height: 57px;
}

.navbaratas .logo{
    color: #FFF172;
    font-family: "Vollkorn";
    font-size: 48px;
    margin-left: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbarbawah{
    background-color: rgba(227, 252, 191, 0.85);
    height: 38px;
    overflow: none;
}

.navbarbawah ul li a{
    float: left;
}

.navbarbawah a{
    color: #14C38E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-left: 1.6vw;
}

.navbarbawah .curr{
    font-weight: 700;
}

.navbarbawah ul{
    float: right;
    width: 45%;
    font-size: 24px;
    list-style-type: none;
}

.navbarbawah .menu{
    transition: 0.2s;
}

.navbarbawah .menu:hover{
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}



.title{
    height: 12vw;
    font-weight: 600;
    font-size: 60px;
}

.titlekiri{
    margin-left: 35vw;
    margin-right: -35vw;
    margin-top: 1.5vw;
    float: left;
    width: 50%;
}

.titlekanan{
    margin-left: -2vw;
    color: #BBA800;
    margin-top: 1.5vw;
    float: left;
    width: 50%;
}

.title .bord{
    width: 28vw;
    border-bottom: 0.5px black solid;
    margin-left: 32vw;
    padding: 3.5vw;
}


.border{
    width: 40vw;
    float: left;

    margin-left: -14.7vw;
    margin-top: 22.5vw;
    margin-bottom: -22.5vw;

    border: 0.5px solid #000000;
    background-color: #000000;
    transform: rotate(90deg);
}



.panel1{
    height: 52.5vw;
}

.panel1kiri{
    float: left;
    width: 45%;
}

.panel1kanan{
    width: 48%;
    float: left;
}

.panel1kiri img{
    margin-left: 7.5vw;
    width: 600px;
    height: 682px;
}

.panel1kiri .type{
    font-size: 60px;
    font-weight: 600;
    position: relative;
    margin-top: -28vw;
    margin-left: 20.5vw;
}

.panel1kanan .desc{
    text-align: center;
    margin-top: -0.5vw;
    margin-left: 8.5vw;
    font-size: 20px;
    font-weight: 600;
}



.panel2{
    height: 52.5vw;
}

.panel2kiri{
    float: left;
    width: 45%;
}

.panel2kanan{
    float: left;
    width: 48%;
}

.panel2kanan img{
    margin-left: 8.5vw;
    width: 600px;
    height: 682px;
}

.panel2kanan .type{
    font-size: 60px;
    font-weight: 600;
    position: relative;
    margin-top: -25vw;
    margin-left: 23vw;
}

.panel2kiri .desc{
    text-align: center;
    margin-top: -0.5vw;
    margin-left: 7.5vw;
    font-size: 20px;
    font-weight: 600;
}



.panel3{
    height: 50vw;
}

.panel3kiri{
    float: left;
    width: 45%;
}

.panel3kanan{
    width: 48%;
    float: left;
}

.panel3kiri img{
    margin-left: 7.5vw;
    width: 600px;
    height: 682px;
}

.panel3kiri .type{
    font-size: 60px;
    font-weight: 600;
    position: relative;
    margin-top: -26.5vw;
    margin-left: 20vw;
}

.panel3kanan .desc{
    text-align: center;
    margin-top: -0.5vw;
    margin-left: 8.5vw;
    font-size: 20px;
    font-weight: 600;
}



.footer{
    height: 190px;
    background-color: #424429;
    text-align: center;
}

.footer img{
    width: 45px;
    height: 45px;
}

.footer .icon .cut{
    padding-right: 11px;
    margin-right: -11px;

    display: inline-block;
    line-height: 5px;

    border-right: 1px #000000 solid;

}

.footer .icon{
    padding-top: 30px;
    margin-bottom: -30px;

}

.footer .icon a{
    margin-left: 20px;
}

.footer .copyright{
    font-size: 24px;
    font-family: 'Vollkorn';
    color: #FFF27F;
    padding-top: 80px;
    text-align: center;
}




@media screen and (max-width : 800px) {
    .navbarbawah ul{
        float: right;
        width: 85%;
        font-size: 24px;
        list-style-type: none;
    }

    .navbarbawah a{
        margin-left: 30px;
    }

    .title{
        font-size: 4vw;
    }

    .titlekanan{
        padding-left: 0.6vw;
    }

    .border{
        width: 55vw;
        float: left;
    
        margin-left: -21.5vw;
        margin-top: 30vw;
        margin-bottom: -30vw;
    
    }


    .panel1{
        height: 70vw;
    }

    .panel1kiri img{
        width: 40vw;
        height: 62vw;
    }

    .panel1kiri .type{
        margin-left: 20vw;
        margin-top: -37vw;

        font-size: 4.5vw;
    }

    .panel1kanan .desc{
        font-size: 1.5vw;

    }



    .panel2{
        height: 70vw;
    }

    .panel2kanan img{
        width: 40vw;
        height: 62vw;
    }

    .panel2kanan .type{
        margin-left: 23vw;
        margin-top: -37vw;

        font-size: 4.5vw;
    }

    .panel2kiri .desc{
        font-size: 1.5vw;
        width: 90%;
    }


    .panel3{
        height: 70vw;
    }

    .panel3kiri img{
        width: 40vw;
        height: 62vw;
    }

    .panel3kiri .type{
        margin-left: 19.5vw;
        margin-top: -37vw;

        font-size: 4.5vw;
    }

    .panel3kanan .desc{
        font-size: 1.5vw;

    }

}